<!-- This is where we'll create our AJAX requests from.  -->


<form id="locationSearch">
  <label>Search</label>
  <input id="locationInput" name="location" type="text">
  <input type="submit">
</form>

<div id="weatherDisplay">

</div>

<ul id="storedWeather">

</ul>


